body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100vw;
  height: 50px;
  padding: 0 72px;
  position: fixed;
  top: env(safe-area-inset-top);
  left: env(safe-area-inset-left);
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
  background-color: #fff;
  z-index: 1;
}
@media only screen and (max-width: 1350px) {
  .header{
    padding: 0 8px;
  }
}

.app-container {
  margin: 0 auto;
  max-width: 1200px;
  padding-top: calc(env(safe-area-inset-top) + 60px);
  padding-bottom: calc(env(safe-area-inset-bottom) + 20px);
  padding-left: calc(env(safe-area-inset-left) + 8px);
  padding-right: calc(env(safe-area-inset-right) + 8px);
}
